Handle server side errors

The application is not showing server side errors to the user. Entering a correctly formatted, but invalid, IP address gives no indication to the user. The API is returning an error message that should be displayed to the user. 

Enter a Bogon address, like 0.1.2.3.

The server returns 
{
    "message": "'0.1.2.1' is a bogon (This network [RFC791], Section 3.2) IP address."
}

This message could be served to the user, or you can customise the error. But something should be shown to the user that an error has occurred.